beautifulsoup4==4.8.2
Django==3.0.4
django-crispy-forms==1.9.0
django-htmlmin==0.11.0
django-tinymce==2.8.0
django-tinymce4-lite==1.7.5
html5lib==1.0.1
jsmin==2.2.2
mysql-connector-python==8.0.19
Pillow==7.0.0
protobuf==3.11.3
pytz==2019.3
six==1.14.0
soupsieve==2.0
sqlparse==0.3.1
webencodings==0.5.1
