{% extends "layout/default.html" %}

{% load crispy_forms_tags %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-9">
				<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="{% url "home-index" %}">Home</a></li>
					<li class="breadcrumb-item"><a href="{% url "wiki-index" %}">Wiki</a></li>
					<li class="breadcrumb-item active" aria-current="page">{{ wiki_page.title }}</li>
				</ol>
				</nav>
				<h3>{{ wiki_page.title }} | Delete</h3>
				<div class="card">
					<div class="card-body">
						Do you really want to delete this page?
						<form action="{% url 'wiki-page-delete' url=wiki_page.url %}" method="post" novalidate>
							{% csrf_token %}
							{{ form|crispy }}
							<div class="center">
								<button class="btn btn-danger" type="submit">Delete</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-3">
				{% include "wiki/modules/navigation.html" %}
			</div>
		</div>
	</div>
{% endblock %}