<div class="text-center">
    <p><b>Welcome to NForum.</b></p>
    <p>NForum is a simple light-weight forum written in Python using Django. It allows users to create their own threads or talk in already existing ones. It has a built-in upvote/downvote (reputation) system, achievements, alerts & more!</p>
    <p><img src="https://i.imgur.com/JVuVPFA.gif" alt="" width="300" height="169"/></p>
    <p>The project is completely open-sourced on GitHub:
    <p><a href="https://github.com/duplxey/NForum">https://github.com/duplxey/NForum</a></p>
</div>