{% extends "layout/default.html" %}

{% load static %}
{% load user_filters %}

{% block subtitle %}Forum{% endblock %}

{% block content %}
	<div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Home</li>
                <li class="breadcrumb-item active">{{ category.title }}</li>
            </ol>
        </nav>
		<div class="row">
			<div class="col-12 col-md-9">
                {% if page %}
                    {% for thread in page.object_list %}
                        <div class="card">
                            <div class="card-body">
                                <h5><span class="badge" style="background: #{{ thread.prefix.color }};color:white;">{{ thread.prefix.name }}</span> {{ thread.title }}</h5>
                                <hr>
                                <small><a href="{% url "members-profile" username=thread.get_first_message.author.username %}">{{ thread.get_first_message.author }}</a>, posted on {{ thread.get_first_message.date_posted }} {% if thread.get_first_message.date_edited is not null %}(last edited: {{ thread.get_first_message.date_edited }}){% endif %}</small>
                                <p>{{ thread.get_first_message.content|safe|truncatewords:200 }}</p>
                                <hr>
                                <div class="text-center">
                                    <a href="{% url "forum-thread" thread_title=thread.title %}">View the thread</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% include "components/pagination.html" with center=True hideable=False %}
                {% else %}
                    <div class="card">
                        <div class="card-body">
                            There are no categories is selected home category or home category is not configured yet.
                        </div>
                    </div>
                {% endif %}
            </div>
			<div class="col-12 col-md-3">
				<div class="card">
					<div class="card-header"><i class="fas fa-folder-open"></i> Recent posts</div>
					<div class="card-body">
                        {% if recent_messages %}
                            {% for recent_message in recent_messages %}
                                {% if forloop.counter is not 1 %}<hr>{% endif %}
                                <img src="{{ recent_message.author|avatar }}" class="avatar-mini" alt="{{ recent_message.author.username }}'s avatar"> <a href="{% url 'forum-thread' thread_title=recent_message.thread.title %}">{{ recent_message.thread.title }}</a><br><small>Last reply: <a href="{% url 'members-profile' username=recent_message.author.username %}">{{ recent_message.author.username }}</a> ({{ recent_message.date_posted }})<br>Subcategory: {{ recent_message.thread.subcategory.title }}</small>
                            {% endfor %}
                        {% else %}
                            There are no recent messages yet.
                        {% endif %}
					</div>
				</div>
				<div class="card">
					<div class="card-header"><i class="fas fa-signal"></i> Statistics</div>
					<div class="card-body">
						Threads: {{ thread_count }}<br>
						Messages: {{ message_count }}<br>
						Active users: {{ active_user_count }}<br>
						Registered users: {{ registered_user_count }}<br>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}