{% extends "layout/default.html" %}

{% load static %}
{% load user_filters %}

{% block subtitle %}Forum{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-9">
                <nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item active">Home</li>
					</ol>
				</nav>
                {% if threads %}
                    {% for thread in threads %}
                        <div class="card">
                            <div class="card-body">
                                <h5><span class="badge" style="background: #{{ thread.prefix.color }};color:white;">{{ thread.prefix.name }}</span> {{ thread.title }}</h5>
                                <hr>
                                <div class="row">
                                    <div class="col-6 col-md-3 text-center">
                                        <img src="{{ thread.get_first_message.author|avatar }}" class="img-fluid avatar" alt="{{ thread.get_first_message.author.username }}'s avatar"><br>
                                        <h5><a href="{% url "accounts-profile" username=thread.get_first_message.author.username %}">{{ thread.get_first_message.author }}</a></h5>
                                        {% for group in thread.get_first_message.author.groups.all %}
                                            {% if forloop.counter == 1 %}{% endif %}
                                            <h6><span class="badge badge-primary">{{ group }}</span></h6>
                                        {% endfor %}
                                    </div>
                                    <div class="col-6 col-md-9">
                                        <p>{{ thread.get_first_message.content|safe }}</p>
                                        <hr>
                                        <small>{{ thread.get_first_message.author }}, posted on {{ thread.get_first_message.date_posted }} {% if thread.get_first_message.date_edited is not null %}(last edited: {{ thread.get_first_message.date_edited }}){% endif %}
                                            {% if thread.get_first_message.author == request.user %}[ <a href="{% url 'forum-message-edit' message_id=thread.get_first_message.pk %}">Edit</a> ] [ <a href="{% url 'forum-message-remove' message_id=thread.get_first_message.pk %}">Remove</a> ]{% endif %}
                                            <span class="float-right">
                                                <a {% if thread.get_first_message.author != user %}id="up-{{ thread.get_first_message.pk }}"{% endif %} class="text-success"><span id="up-place-{{ thread.get_first_message.pk }}">{{ thread.get_first_message.upvoters.count }}</span> <i class="fas fa-chevron-up"></i></a>
                                                <a {% if thread.get_first_message.author != user %}id="down-{{ thread.get_first_message.pk }}"{% endif %} class="text-danger"><span id="down-place-{{ thread.get_first_message.pk }}">{{ thread.get_first_message.downvoters.count }}</span> <i class="fas fa-chevron-down"></i></a>
                                            </span>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="card">
                        <div class="card-body">
                            There are no categories is selected home category or home category is not configured yet.
                        </div>
                    </div>
                {% endif %}
            </div>
			<div class="col-12 col-md-3">
				<div class="card">
					<div class="card-header"><i class="fas fa-folder-open"></i> Recent posts</div>
					<div class="card-body">
                        {% if recent_messages %}
                            {% for recent_message in recent_messages %}
                                {% if forloop.counter is not 1 %}<hr>{% endif %}
                                <img src="{{ recent_message.author|avatar }}" class="avatar-mini" alt="{{ recent_message.author.username }}'s avatar"> <a href="{% url 'forum-thread' thread_title=recent_message.thread.title %}">{{ recent_message.thread.title }}</a><br><small>Last reply: <a href="{% url 'accounts-profile' username=recent_message.author.username %}">{{ recent_message.author.username }}</a> ({{ recent_message.date_posted }})<br>Subcategory: {{ recent_message.thread.subcategory.title }}</small>
                            {% endfor %}
                        {% else %}
                            There are no recent messages yet.
                        {% endif %}
					</div>
				</div>
				<div class="card">
					<div class="card-header"><i class="fas fa-signal"></i> Statistics</div>
					<div class="card-body">
						Threads: {{ thread_count }}<br>
						Messages: {{ message_count }}<br>
						Active users: {{ active_user_count }}<br>
						Registered users: {{ registered_user_count }}<br>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}