{% extends "layout/default.html" %}

{% load static %}
{% load user_filters %}
{% load forum_filters %}

{% block subtitle %}Forum{% endblock %}

{% block content %}
	<div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Home</li>
                <li class="breadcrumb-item active">{{ category.title|default:"Not configured" }}</li>
            </ol>
        </nav>
		<div class="row">
			<div class="col-12 col-md-9">
                {% if page %}
                    {% for thread in page.object_list %}
                        <div class="card">
                            <div class="card-body">
                                <h5>{{ thread|with_prefix }}</h5>
                                <hr>
                                <small><a href="{% url "members-profile" username=thread.get_first_message.author.username %}">{{ thread.get_first_message.author }}</a>, posted on {{ thread.get_first_message.date_posted }} {% if thread.get_first_message.date_edited is not null %}(last edited: {{ thread.get_first_message.date_edited }}){% endif %}</small>
                                <p>{{ thread.get_first_message.content|safe|truncatewords:200 }}</p>
                                <hr>
                                <div class="text-center">
                                    <a href="{% url "forum-thread" thread_title=thread.title %}">View the thread</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% include "components/pagination.html" with center=True hideable=True %}
                {% else %}
                    <div class="card">
                        <div class="card-body">
                            There are no categories in selected home category or home category hasn't been configured yet.
                        </div>
                    </div>
                {% endif %}
            </div>
			<div class="col-12 col-md-3">
				{% include "forum/modules/sidebar-pack.html" %}
			</div>
		</div>
	</div>
{% endblock %}