{% extends "layout/default.html" %}

{% load static %}
{% load user_filters %}

{% block subtitle %}Forum{% endblock %}

{% block content %}
	<div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url "index" %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Forums</li>
            </ol>
        </nav>
		<div class="row">
			<div class="col-12 col-md-9">
                {% if categories %}
                    {% for category in categories %}
                        <div class="card">
                            <div class="card-body">
                                <h3>{{ category.title }}</h3>
                                <p>{{ category.description }}</p>
                                {% for subcategory in category.get_subcategories %}
                                    <hr>
                                    <div class="row">
                                        <div class="col-9">
                                            <a href="{% url 'forum-subcategory' subcategory_name=subcategory.title %}"><i class="fas fa-bookmark"></i> {{ subcategory.title }}</a><br>{{ subcategory.description }}<br><span class="transparent">(Threads: {{ subcategory.get_thread_count }}, Messages: {{ subcategory.get_message_count }})</span>
                                        </div>
                                        <div class="col-3">
                                            {% if subcategory.get_latest_thread == null %}
                                                <small>No threads found.</small>
                                            {% else %}
                                                <small>Latest thread:<br><a href="{% url 'forum-thread' thread_title=subcategory.get_latest_thread.title %}">{{ subcategory.get_latest_thread.title }}</a> by <a href="{% url 'members-profile' username=subcategory.get_latest_thread.author %}">{{ subcategory.get_latest_thread.author }}</a></small>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="card">
                        <div class="card-body">
                            There are no categories yet.
                        </div>
                    </div>
                {% endif %}
			</div>
			<div class="col-12 col-md-3">
                {% include "forum/modules/sidebar-pack.html" %}
			</div>
		</div>
	</div>
{% endblock %}