{% extends "base.html" %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-9">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">Home</a></li>
						<li class="breadcrumb-item active" aria-current="page">Forums</li>
					</ol>
				</nav>
				<div class="card">
					<div class="card-body">
						<h3>Category 1</h3>
						<p>Lorem ipsum dolor sit amet.</p>
						<hr>
						<a href="#"><i class="fas fa-bookmark"></i> Subcategory 1</a>
						<hr>
						<a href="#"><i class="fas fa-bookmark"></i> Subcategory 2</a>
					</div>
				</div>
				<div class="card">
					<div class="card-body">
						<h3>Category 2</h3>
						<p>Lorem ipsum dolor sit amet.</p>
						<hr>
						<a href="#"><i class="fas fa-bookmark"></i> Subcategory 1</a>
						<hr>
						<a href="#"><i class="fas fa-bookmark"></i> Subcategory 2</a>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-3">
				<div class="card">
					<div class="card-header">
						Module 1
					</div>
					<div class="card-body">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</div>
				</div>
				<div class="card">
					<div class="card-header">
						Module 2
					</div>
					<div class="card-body">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}