{% extends "layout/default.html" %}

{% load static %}
{% load user_filters %}
{% load crispy_forms_tags %}

{% block subtitle %}Edit message{% endblock %}

{% block content %}
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
				<li class="breadcrumb-item"><a href="{% url 'forum-index' %}">Forums</a></li>
                <li class="breadcrumb-item"><a href="{% url 'forum-subcategory' subcategory_name=thread.subcategory.title %}">{{ thread.subcategory.title }}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'forum-thread' thread_title=thread.title %}">{{ thread.title }}</a></li>
				<li class="breadcrumb-item active" aria-current="page">Editing a message</li>
			</ol>
		</nav>
        <div class="card">
            <div class="card-body">
                <h3>Editing a message</h3>
                <hr>
                <form action="{% url 'forum-message-edit' message_id=message.pk %}" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-primary" type="submit">Save</button>
                    <a href="{% url 'forum-thread' thread_title=thread.title %}"><button class="btn btn-danger">Cancel</button></a>
                </form>
            </div>
        </div>
	</div>
{% endblock %}