{% extends "layout/default.html" %}

{% load crispy_forms_tags %}

{% block subtitle %}Delete message{% endblock %}

{% block content %}
	<div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'forum-index' %}">Forums</a></li>
                <li class="breadcrumb-item"><a href="{% url 'forum-subcategory' subcategory_name=thread.subcategory.title %}">{{ thread.subcategory.title }}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'forum-thread' thread_title=thread.title %}">{{ thread.title }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">Delete message</li>
            </ol>
        </nav>
		<div class="row">
			<div class="col-12 col-md-9">
				<div class="card">
					<div class="card-body">
                        <h3>Deleting a message</h3>
                        <hr>
						Do you really want to delete this message?
						<form action="{% url 'forum-message-remove' message_id=message.id %}" method="post" novalidate>
							{% csrf_token %}
							{{ form|crispy }}
							<div class="text-center">
								<button class="btn btn-danger" type="submit">Delete</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-3">
				{% include "wiki/modules/navigation.html" %}
			</div>
		</div>
	</div>
{% endblock %}