{% extends "layout/default.html" %}

{% load static %}
{% load user_filters %}

{% block content %}
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{% url 'home-index' %}">Home</a></li>
				<li class="breadcrumb-item"><a href="{% url 'forum-index' %}">Forums</a></li>
				<li class="breadcrumb-item active" aria-current="page">{{ subcategory.title }}</li>
			</ol>
		</nav>
		<div class="row">
			<div class="col-12 col-md-9">
				<h3>{{ subcategory.title }}<br><small>({{ subcategory.description }})</small></h3>
			</div>
			<div class="col-12 col-md-3">
				{% if user.is_authenticated %}
					<a class="btn btn-primary" href="{% url 'forum-thread-create' subcategory_name=subcategory.title %}">Create a new thread</a>
				{% else %}
					<a class="btn btn-danger" href="#">You are not logged in.</a>
				{% endif %}
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				{% if threads|length is 0 %}
					There are no threads under this category yet.
				{% else %}
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Thread title</th>
								<th scope="col">Author</th>
								<th scope="col">Time</th>
								<th scope="col">Last reply</th>
								<th scope="col">Last reply time</th>
							</tr>
						</thead>
						<tbody>
							{% for thread in threads reversed %}
								<tr>
									<td><a href="{% url 'forum-thread' thread_title=thread.title %}">{{ thread.title }}</a></td>
									<td><img src="{{ thread.author|avatar }}" class="img-fluid avatar-mini" alt="{{ subcategory.get_latest_thread.author.username }}'s avatar"> {{ thread.author }}</td>
									<td>{{ thread.get_first_message.date_posted }}</td>
									<td>{% if thread.get_last_message == thread.get_first_message  %}/{% else %}<img src="{{ thread.get_last_message.author|avatar }}" class="img-fluid avatar-mini" alt="{{ subcategory.get_latest_thread.author.username }}'s avatar"> {{ thread.get_last_message.author }}{% endif %}</td>
									<td>{% if thread.get_last_message == thread.get_first_message  %}/{% else %}{{ thread.get_last_message.date_posted }}{% endif %}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}