{% extends "layout/default.html" %}

{% load static %}
{% load account_filters %}
{% load crispy_forms_tags %}

{% block content %}
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{% url 'home-index' %}">Home</a></li>
				<li class="breadcrumb-item"><a href="{% url 'forum-index' %}">Forums</a></li>
				<li class="breadcrumb-item"><a href="{% url 'forum-subcategory' subcategory_name=thread.subcategory.title %}">{{ thread.subcategory.title }}</a></li>
				<li class="breadcrumb-item active" aria-current="page">{{ thread.title }}</li>
			</ol>
		</nav>
		<h3>{{ thread.title }}</h3>
		{% for message in thread.get_messages %}
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-6 col-md-2 center">
							<img src="{{ message.author|avatar }}" class="img-fluid avatar" alt="{{ message.author.username }}'s avatar"><br>
							{{ message.author }}<br>
						</div>
						<div class="col-6 col-md-9">
							<p>{{ message.content }}</p>
							<small>{{ message.author }}, posted on {{ message.date_posted }} {% if message.date_edited is not null %}(last edited: {{ message.date_edited }}){% endif %}</small>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
		{% if user.is_authenticated %}
			<div class="card">
				<div class="card-body">
					<form action="{% url 'forum-thread-reply' thread_title=thread.title %}" method="post">
						{% csrf_token %}
						{{ form|crispy }}
						<button class="btn btn-primary" type="submit">Reply</button>
					</form>
				</div>
			</div>
		{% else %}
			<div class="card">
				<div class="card-body">
					You need to be logged in in order to post a message.
				</div>
			</div>
		{% endif %}
	</div>
{% endblock %}