* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

ol, ul {
    list-style-position: inside;
}

body {
    color: var(--text-color);
    background: var(--background);
}

header, footer {
    color: var(--text-color-light);
    background: var(--special);
}

.header-top {
    padding: 12px 0;
}

.header-navigation {

}

.footer-top {
    padding: 12px;
    background: var(--special);
}

.footer-bottom {
    padding: 12px;
    background: var(--background-dark);
}

::selection {
    background: var(--special);
}

.light-link {
    color: var(--text-color-light);
}

.light-link:hover {
    color: var(--text-color-light-hover);
}

/*------------------------------*\
* Misc
\*------------------------------*/
.marged {
    margin: 25px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

/*------------------------------*\
* Objects
\*------------------------------*/
.avatar {
    width: 100px;
    height: 100px;
}

.avatar-mini {
    width: 25px;
    height: 25px;
}

.section {
    padding: 30px 0;
}

.bg-mid {
    background: var(--background-mid);
}

.bg-special {
    background: var(--special);
}

.text-light {
    color: var(--text-color-light);
}

.social {
    text-align: center;
}

.social-item {
    display: inline;
    margin: 0 5px;
}