* {
    margin: 0;
    padding: 0;
}

body {
    color: var(--text-color);
    background: var(--background);
}

header, footer {
    color: var(--text-color-light);
}

footer a {
    color: var(--text-color-light);
    transition: 0.2s;
}

footer a:hover {
    color: var(--text-color-light-hover);
    transition: 0.2s;
}

.card {
    margin-bottom: 12px;
}

.avatar {
    width: 100px;
    height: 100px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

header {
}

.logo-container {
    background: var(--special);
    padding: 12px;
}

footer {
    padding: 12px;
    background: var(--background-mid);
}

::selection {
    background: #2E86AB;
}

.section {
    padding: 30px 0;
}

.marged {
    margin: 25px;
}

.bg-mid {
    background: var(--background-mid);
}

.bg-special {
    background: var(--special);
}

.text-light {
    color: var(--text-color-light);
}

/* -------------------------------------- */
/* Objects
/* -------------------------------------- */
.social {
    text-align: center;
}

.social-item {
    display: inline;
    margin: 0 5px;
}