{% extends "layout/default.html" %}

{% load static %}
{% load account_filters %}

{% block content %}
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{% url "home-index" %}">Home</a></li>
				<li class="breadcrumb-item" aria-current="page">Account</li>
				<li class="breadcrumb-item active" aria-current="page">Alerts</li>
			</ol>
		</nav>
		<div class="row">
			<div class="col-12 col-md-9">
				<div class="card">
					<div class="card-body">
                        <h3>Alerts</h3>
                        {% if alerts|length == 0 %}
                            You do not have any alerts.
                        {% endif %}
                        {% for alert in alerts %}
                            {% if forloop.counter != 1 %}
                                <hr>
                            {% endif %}
                            {% if alert.type == 'ME' %}
                                <i class="fas fa-at"></i> <a href="{% url 'accounts-profile' username=alert.caused_by.username %}"><img src="{{ alert.caused_by.username|avatar }}" class="img-fluid avatar-mini" alt="{{ alert.caused_by.username }}'s avatar"> {{ alert.caused_by.username }}</a> mentioned you in <a href="{% url 'forum-thread' thread_title=alert.thread.title  %}">{{ alert.thread.title }}</a>.<br>
                                <small>{{ alert.message }} {{ alert.datetime }}</small>
                            {% elif alert.type == 'RE' %}
                                <i class="fas fa-exclamation"></i> <a href="{% url 'accounts-profile' username=alert.caused_by.username %}"><img src="{{ alert.caused_by.username|avatar }}" class="img-fluid avatar-mini" alt="{{ alert.caused_by.username }}'s avatar"> {{ alert.caused_by.username }}</a> responded to thread <a href="{% url 'forum-thread' thread_title=alert.thread.title  %}">{{ alert.thread.title }}</a>.<br>
                                <small>{{ alert.message }} {{ alert.datetime }}</small>
                            {% endif %}
                        {% endfor %}
					</div>
				</div>
			</div>
			<div class="col-12 col-md-3">
                {% include "accounts/modules/useful-links.html" %}
			</div>
		</div>
	</div>
{% endblock %}