{% extends "layout/default.html" %}

{% load static %}
{% load account_filters %}

{% block content %}
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{% url "home-index" %}">Home</a></li>
				<li class="breadcrumb-item" aria-current="page">Members</li>
			</ol>
		</nav>
		<div class="card">
			<div class="card-body">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Username</th>
							<th scope="col">Groups</th>
							<th scope="col">Posts</th>
							<th scope="col">Threads</th>
						</tr>
					</thead>
					<tbody>
						{% for member in members %}
							<tr>
								<td><img src="{{ member|avatar }}" class="img-fluid avatar-mini" alt="{{ subcategory.get_latest_thread.author.username }}'s avatar"> <a href="{% url 'accounts-profile' username=member.username %}">{{ member.username }}</a></td>
								<td>
									{% for group in member.groups.all %}
										<span class="badge badge-primary">{{ group }}</span>
									{% endfor %}
								</td>
								<td>{{ member|post_count }}</td>
								<td>{{ member|thread_count }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}