{% extends "layout/default.html" %}

{% load static %}

{% block content %}
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{% url "home-index" %}">Home</a></li>
				<li class="breadcrumb-item"><a href="{% url "accounts-members" %}">Members</a></li>
				<li class="breadcrumb-item active" aria-current="page">Profile</li>
			</ol>
		</nav>
		<div class="row">
			<div class="col-12 col-md-3">
				<div class="card">
					<div class="card-body">
						<div class="center">
							<img src="{{ profile.avatar.url }}" class="img-fluid" alt="Catty">
							<hr>
							<h3>{{ passed_user.username }}</h3>
							{% for group in passed_user.groups.all %}
								{% if forloop.counter == 1 %}
									<hr>
								{% endif %}
								<h4><span class="badge badge-primary">{{ group }}</span></h4>
							{% endfor %}
							<hr>
							Registered: {{ passed_user.date_joined|date }}<br>
							Last online: {{ passed_user.last_login|timesince }} ago<br>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-9">
				<div class="card">
					<div class="card-header">Description</div>
					<div class="card-body">
						{{ profile.description }}
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-md-6">
						<div class="card">
							<div class="card-header">Recent posts</div>
							<div class="card-body">
								<img src="{% static "img/user-logo.jpg" %}" class="avatar-mini" alt="Johnny profile picture"> Why is grass green?<br><small>Last reply: Mike<br>Subcategory: Random<br>by Johnny (dd/mm/yyyy)</small>
								<hr>
								<img src="{% static "img/user-logo.jpg" %}" class="avatar-mini" alt="Johnny profile picture"> Why is grass green?<br><small>Last reply: Mike<br>Subcategory: Random<br>by Johnny (dd/mm/yyyy)</small>
								<hr>
								<img src="{% static "img/user-logo.jpg" %}" class="avatar-mini" alt="Johnny profile picture"> Why is grass green?<br><small>Last reply: Mike<br>Subcategory: Random<br>by Johnny (dd/mm/yyyy)</small>
								<hr>
								<img src="{% static "img/user-logo.jpg" %}" class="avatar-mini" alt="Johnny profile picture"> Why is grass green?<br><small>Last reply: Mike<br>Subcategory: Random<br>by Johnny (dd/mm/yyyy)</small>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-6">
						<div class="card">
							<div class="card-header">Recent threads</div>
							<div class="card-body">
								<img src="{% static "img/user-logo.jpg" %}" class="avatar-mini" alt="Johnny profile picture"> Why is grass green?<br><small>Last reply: Mike<br>Subcategory: Random<br>by Johnny (dd/mm/yyyy)</small>
								<hr>
								<img src="{% static "img/user-logo.jpg" %}" class="avatar-mini" alt="Johnny profile picture"> Why is grass green?<br><small>Last reply: Mike<br>Subcategory: Random<br>by Johnny (dd/mm/yyyy)</small>
								<hr>
								<img src="{% static "img/user-logo.jpg" %}" class="avatar-mini" alt="Johnny profile picture"> Why is grass green?<br><small>Last reply: Mike<br>Subcategory: Random<br>by Johnny (dd/mm/yyyy)</small>
								<hr>
								<img src="{% static "img/user-logo.jpg" %}" class="avatar-mini" alt="Johnny profile picture"> Why is grass green?<br><small>Last reply: Mike<br>Subcategory: Random<br>by Johnny (dd/mm/yyyy)</small>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}