{% extends "layout/default.html" %}

{% load static %}
{% load user_filters %}

{% block subtitle %}Members{% endblock %}

{% block content %}
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb mb-0">
				<li class="breadcrumb-item"><a href="{% url "home-index" %}">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">Members</li>
			</ol>
		</nav>
		<div class="card">
			<div class="card-body">
                <h3>Members</h3>
                <hr>
                {% include "components/pagination.html" %}
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Username</th>
                                <th scope="col">Groups</th>
                                <th scope="col">Reputation</th>
                                <th scope="col">Posts</th>
                                <th scope="col">Threads</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for member in page.object_list %}
                                <tr>
                                    <td>{{ member.pk }}</td>
                                    <td><img src="{{ member|avatar }}" class="img-fluid avatar-mini" alt="{{ subcategory.get_latest_thread.author.username }}'s avatar"> <a href="{% url 'members-profile' username=member.username %}">{{ member.username }}</a></td>
                                    <td>
                                        {% for group in member.groups.all %}
                                            <span class="badge badge-primary">{{ group }}</span>
                                        {% endfor %}
                                    </td>
                                    {% if member|reputation > 0 %}
                                        <td class="text-success">+{{ member|reputation }}</td>
                                    {% elif member|reputation < 0 %}
                                        <td class="text-danger">{{ member|reputation }}</td>
                                    {% elif member|reputation == 0 %}
                                        <td class="text-warning">{{ member|reputation }}</td>
                                    {% endif %}
                                    <td>{{ member|post_count }}</td>
                                    <td>{{ member|thread_count }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% include "components/pagination.html" %}
			</div>
		</div>
	</div>
{% endblock %}