{% extends "layout/default.html" %}

{% load static %}
{% load user_filters %}

{% block subtitle %}Members{% endblock %}

{% block content %}
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{% url "index" %}">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">Members</li>
			</ol>
		</nav>
		<div class="card">
			<div class="card-body">
                <h3>Members</h3>
                {% include "components/pagination.html" with upper_border=True hideable=True %}
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Username</th>
                                <th scope="col">Groups</th>
                                <th scope="col">Reputation</th>
                                <th scope="col">Posts</th>
                                <th scope="col">Threads</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for member in page.object_list %}
                                <tr>
                                    <td>{{ member.pk }}</td>
                                    <td><img src="{{ member|avatar }}" class="img-fluid avatar-mini" alt="{{ subcategory.get_latest_thread.author.username }}'s avatar"> <a href="{% url 'members-profile' username=member.username %}">{{ member.username }}</a></td>
                                    <td>
                                        {% for group in member.groups.all %}
                                            <span class="badge badge-primary">{{ group }}</span>
                                        {% endfor %}
                                    </td>
                                    <td>{{ member|reputation }}</td>
                                    <td>{{ member.userprofile.get_post_count }}</td>
                                    <td>{{ member.userprofile.get_thread_count }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% include "components/pagination.html" with hideable=True %}
			</div>
		</div>
	</div>
{% endblock %}