{% load static %}
{% load solo_tags %}
{% get_solo 'settings.SiteConfiguration' as site_config %}

{% include "copyright.html" %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <title>{{ site_config.name }} | {% block subtitle %}{{ site_config.description_short }}{% endblock %}</title>
        <meta name="description" content="{% block description %}{{ site_config.description }}{% endblock %}"/>
        <meta name="keywords" content="{% block keywords %}{{ site_config.keywords }}{% endblock %}"/>
        {% if site_config.favicon %}
            <link rel="shortcut icon" type="image/png" href="{{ site_config.favicon.url }}"/>
        {% else %}
            <link rel="shortcut icon" type="image/png" href="{% static "img/favicon.png" %}"/>
        {% endif %}
        {% include "imports.html" %}
	    {{ form.media }} <!-- required for MCE to work -->
    </head>
    <body>
		<div class="content-wrap">
			{% block body %}
			{% endblock %}
		</div>
    </body>
</html>