{% load static %}

{% include "copyright.html" %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <title>NForum | {% block subtitle %}Woop woop!{% endblock %}</title>
        <meta name="description" content="{% block description %}Simple forum written in Python using Django.{% endblock %}"/>
        <meta name="keywords" content="{% block keywords %}nforum, forum, python, django{% endblock %}"/>
        <link rel="shortcut icon" type="image/png" href="{% static "img/favicon.png" %}"/>
        {% include "imports.html" %}
	    {{ form.media }} <!-- required for MCE to work -->
    </head>
    <body>
		<div class="content-wrap">
			{% block body %}
			{% endblock %}
		</div>
    </body>
</html>