{# Because you can't use django tags in CSS files I've created this file to get colors out of the config #}
{% load solo_tags %}
{% get_solo 'settings.SiteColorPalette' as color_palette %}
<style>
    :root {
        --special: #{{ color_palette.special_color }};
        --special-dark: #{{ color_palette.special_dark_color }};

        --background: #{{ color_palette.background }};
        --background-gray: #{{ color_palette.background_gray }};
        --background-dark: #{{ color_palette.background_dark }};

        --link: #{{ color_palette.link }};
        --link-hover: #{{ color_palette.link_hover }};

        --text-color: #{{ color_palette.text_color }};
        --text-color-hover: #{{ color_palette.text_color_hover }};
        --text-color-light: #{{ color_palette.text_color_light }};
        --text-color-light-hover: #{{ color_palette.text_color_light_hover }};
    }
</style>