<!--
   __   __     ______   ______     ______     __  __     __    __
  /\ "-.\ \   /\  ___\ /\  __ \   /\  == \   /\ \/\ \   /\ "-./  \
  \ \ \-.  \  \ \  __\ \ \ \/\ \  \ \  __<   \ \ \_\ \  \ \ \-./\ \
   \ \_\\"\_\  \ \_\    \ \_____\  \ \_\ \_\  \ \_____\  \ \_\ \ \_\
    \/_/ \/_/   \/_/     \/_____/   \/_/ /_/   \/_____/   \/_/  \/_/
             Simple forum written in Python using Django.
                 Created by duplxey (Nik Tomazic).

        GitHub repository: https://github.com/duplxey/NForum
-->