{% load static %}

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/96090721b8.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600" rel="stylesheet">
<link rel="stylesheet" href="{% static "css/palette/default.css" %}">
{# to inject colors from the config #}{% include "color-palette.html" %}
<link rel="stylesheet" href="{% static "css/bootstrap-fixes.css" %}">
<link rel="stylesheet" href="{% static "css/style.css" %}">
<script src="{% static "js/csrf.js" %}"></script>
<script src="{% static "js/no-drag.js" %}"></script>
<script src="{% static "js/no-hide-dropdown.js" %}"></script>