{% load user_filters %}

<div class="card">
    <div class="card-header"><i class="fas fa-folder-open"></i> Recent posts</div>
    <div class="card-body">
        {% if recent_messages %}
            {% for recent_message in recent_messages %}
                {% if forloop.counter is not 1 %}<hr>{% endif %}
                <img src="{{ recent_message.author|avatar }}" class="avatar-mini" alt="{{ recent_message.author.username }}'s avatar"> <a href="{% url 'forum-thread' thread_title=recent_message.thread.title %}">{{ recent_message.thread.title }}</a><br><small>Last reply: <a href="{% url 'members-profile' username=recent_message.author.username %}">{{ recent_message.author.username }}</a> ({{ recent_message.date_posted }})<br>Subcategory: {{ recent_message.thread.subcategory.title }}</small>
            {% endfor %}
        {% else %}
            There are no recent messages yet.
        {% endif %}
    </div>
</div>
<div class="card">
    <div class="card-header"><i class="fas fa-signal"></i> Statistics</div>
    <div class="card-body">
        Threads: {{ thread_count }}<br>
        Messages: {{ message_count }}<br>
        Active users: {{ active_user_count }}<br>
        Registered users: {{ registered_user_count }}<br>
    </div>
</div>