<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <p>Made with <i class="fas fa-heart"></i> by duplxey.</p>
            </div>
            <div class="col-12 col-md-6">
                <ul class="social">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>