{% load site_settings %}
{% load solo_tags %}

<footer>
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-6">
                    {% get_solo 'home.SiteConfiguration' as site_config %}
                    <b>{{ site_config.name }}</b><br>
                    {{ site_config.description_short }}
				</div>
				<div class="col-12 col-md-6">
					<div class="social float-right">
                        {% social_networks as networks %}
                        {% for network in networks  %}
                            <div class="social-item"><a href="{{ network.url }}" class="light-link"><i class="{{ network.fa_icon }} fa-lg"></i></a></div>
                        {% endfor %}
					</div>
				</div>
			</div>
    	</div>
	</div>
	<div class="footer-bottom">
		<div class="container text-center">
            <a href="https://github.com/duplxey/NForum" class="light-link"><small class="transparent">Powered by NForum</small></a>
		</div>
	</div>
</footer>