{% load static %}
{% load user_filters %}
{% load solo_tags %}
{% get_solo 'home.SiteConfiguration' as site_config %}

<header>
	<div class="header-top">
		<div class="container">
            <a href="{% url 'forum-index' %}">
                {% if site_config.logo %}
                    <img src="{{ site_config.logo.url }}" alt="{{ site_config.name }} Logo">
                {% else %}
                    <img src="{% static "img/logo.png" %}" alt="NForum Logo">
                {% endif %}
            </a>
    	</div>
	</div>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarToggler">
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <!-- Hide home/presentation page from logged in users, highly doubt they will ever click it -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home-index' %}">Home</a>
                    </li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'forum-index' %}">Forums</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'members-members' %}">Members</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'wiki-index' %}">Wiki</a>
					</li>
				</ul>
				<form class="form-inline my-2 my-lg-0" method="GET" action="{% url "search-index" %}">
					<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
						{% if user.is_authenticated %}
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Logged in as {{ user.username }}
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdown">
									<a class="dropdown-item" href="{% url "members-profile" username=user.username %}">Your profile</a>
                                    <a class="dropdown-item" href="{% url "members-achievement" %}">Achievements</a>
									<a class="dropdown-item" href="{% url "members-settings" %}">Settings</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="{% url "members-logout" %}">Logout</a>
								</div>
							</li>
                            <li class="nav-item">
						        <a class="nav-link" href="{% url 'members-alert' %}">
                                    <span class="{% if user|unseen_alert_count > 0 %}text-warning{% endif %}"><i class="fas fa-bell"></i><sup>{% if user|unseen_alert_count > 0 %}{{ user|unseen_alert_count }}{% endif %}</sup></span>
                                </a>
					        </li>
						{% else %}
							<li class="nav-item">
								<a class="nav-link" href="{% url 'members-login' %}"><i class="fas fa-sign-in-alt"></i> Login</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{% url 'members-signup' %}"><i class="fas fa-user-plus"></i> Sign up</a>
							</li>
						{% endif %}
						<li class="nav-item">
							<a class="nav-link" href="#"></a>
						</li>
					</ul>
					<input class="form-control mr-sm-2" type="search" placeholder="Search" name="query">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form>
			</div>
		</div>
	</nav>
</header>