:root {
    --special: #2E86AB;
    --special-dark: #065A82;

    --background: #FFFFFF;
    --background-gray: #E9ECEF;
    --background-dark: #2d2d2d;

    --link: #007BFF;
    --link-hover: #0056B3;

    --text-color: #282828;
    --text-color-hover: #232323;
    --text-color-light: #ffffff;
    --text-color-light-hover: #F3EFF5;
}

.bg-special {
    background: var(--special);
}

.bg-special-dark {
    background: var(--special-dark);
}

.bg-normal {
    background: var(--background);
}

.bg-dark {
    background: var(--background-dark);
}

.cl-link {
    color: var(--link);
}

.cl-link-hover {
    color: var(--link-hover);
}

.cl-text {
    color: var(--text-color);
}

.cl-text-hover {
    color: var(--text-color-hover);
}

.cl-text-light {
    color: var(--text-color-light);
}

.cl-text-light-hover {
    color: var(--text-color-light-hover);
}