{% extends 'base.html' %}

{% load static %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-3"></div>
			<div class="col-12 col-md-6 mt-5">
				<div class="text-center">
					<img src="{% static "img/logo.png" %}" class="img-fluid" alt="NForum Logo">
				</div>
				<div class="card">
					<div class="card-body">
                        <div class="card-title">{% block card-title %}{% endblock %}</div>
						{% block card-body %}
						{% endblock %}
					</div>
				</div>
				<p class="right text-light">{% block card-under %}{% endblock %}</p>
			</div>
			<div class="col-12 col-md-3"></div>
		</div>
	</div>
	<style>body {background: var(--special);}</style>
{% endblock %}