{% extends 'base.html' %}

{% load static %}

{% block body %}
	<div class="container" style="margin-top: 30px;">
		<div class="row">
			<div class="col-12 col-md-3"></div>
			<div class="col-12 col-md-6">
				<div class="center">
					<img src="{% static "img/logo.png" %}" class="img-fluid" alt="NForum logo">
				</div>
				<div class="card">
					<div class="card-body">
						{% block card-body %}
						{% endblock %}
					</div>
				</div>
				<p class="right text-light">{% block card-under %}{% endblock %}</p>
			</div>
			<div class="col-12 col-md-3"></div>
		</div>
	</div>
	<style>body {background: var(--special);}</style>
{% endblock %}